@font-face {
  font-family: 'Bold';
  src: url('Roboto-Bold.ttf');
}
body {
  font-family: Roboto;
  padding-top: 8em;
  background: radial-gradient(circle, #EEE, #CCC);
}

h1 {
  font-weight: 500;
  font-size: 22px;
  padding-left: 15px;
}
.find {
  margin-bottom: 30px;
  padding-left: 15px;
  font-size: 15px;
  color: #666;
}
.card {
  background: #FFF;
  border: none;
  border-radius: 2px;
  padding: 0;
  box-shadow: 0px 5px 4px #AAA;
  padding-top: 30px;
}
label {
  padding-left: 15px;
  color: #666;
}

#date,
#date:focus {
  padding: 12px 20px;
  border-radius: 0px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #D0D0D0;
  outline: 0;
  font-size: 15px;
  font-weight: 300;
  margin-top: 5px;
  width: 86%;
}

::-webkit-input-placeholder {
  font-size: 15px;
}
.btn-success,
.btn-success:focus {
  margin-top: 40px;
  outline: 0;
  background: #E74C3C;
  border: none;
  border-radius: 0;
  padding: 8px 15px;
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 12px;
  transition: all .5s;
  outline: none;
  box-shadow: 0px 0px 0px transparent;
}
.btn-success:hover {
  background: #C0392B;
}
.btn-side,
.btn-side:focus {
  background: transparent;
  border: none;
  color: #E74C3C;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 40px;
  outline: none;
  box-shadow: 0px 0px 0px transparent;
}
.btns { 
  margin-bottom: 30px;
  padding-right: 30px;
}
.display {
  background: #F5F5F5;
  border-top: 1px solid #E8E8E8;
  margin-top: 30px;
  height: 60px;
  padding-left: 10px;
}
.btn-question,
.btn-question:focus {
    z-index: 100;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: transparent;
    border: 2px solid #FFF;
    padding-top: 6px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 18px;
    outline: none;
}
.btn-question:hover {
    background: rgba(255,255,255,0.2);
    color: #FFF;
}
.modal-dialog {
    padding-top: 100px;
    width: 450px;
}
.modal-content {
    border-radius: 0px;
    box-shadow: none;
    border: none;
}
.modal-title {
    color: #666;
    font-size: 15px;
}
.modal-text {
    line-height: 28px;
    font-size: 15px;
    color: #555;
    padding: 10px 5px;
    padding-right: 10px;
}
.close {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.modal-close {
    font-weight: 100;
}
.btn-social,
.btn-social:focus {
    background: #F0F0F0;
    padding: 10px 12px;
    border-radius: 2px;
    color: #888;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 11px;
    font-family: Bold;
}
.linkedin:hover {
    background: #1985BC;
    color: #FFF;
}
.twitter:hover {
    background: #55ACEE;
    color: #FFF;
}
.github:hover {
    background: #444;
    color: #FFF;
}
.link,
.link:focus {
    border-bottom: 1px dotted #E74C3C;
    color: #E74C3C;
}
.link:hover {
    color: #F27163;
    border-color: #F27163;
}